---
import { Icon } from "astro-icon/components";
---
<div class="p-5 flex gap-4 w-full rounded-xl bg-(--color-surface) text-white shadow-lg border border-white/5 items-start mb-5">
    <!-- Avatar -->
    <div class="shrink-0 pt-1">
        <div class="size-12 rounded-full overflow-hidden bg-(--color-bg) border border-(--color-muted) grid place-items-center">
            <Icon name="mingcute:chat-2-line" class="size-6">
        </div>
    </div>

    <!-- Textarea -->
    <div class="w-full">
        <textarea 
            rows="3"
            placeholder="Add your comment here..."    
            class="w-full h-full text-base p-4 rounded-xl border-transparent bg-(--color-bg) text-white resize-none focus:outline-none focus:ring-2 focus:ring-[rgba(207,219,213,0.5)] transition-all placeholder-(--color-muted)"
        ></textarea>
    </div>
</div>