---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

const { name, avatar } = Astro.props;
---   
<div class="p-4 flex w-full rounded-[30px] bg-gray-700 text-white">
    <!-- Left Area -->
    <div class="w-fit flex-col items-center place-items-center">
        <!-- Outline Circle -->
        <div class="size-18 overflow-hidden p-1 rounded-full border-2 border-white">
            <!-- Avatar -->
            <Image src={ avatar } alt="An image of this person" width={64} height={64} class="size-full overflow-hidden bg-center bg-cover rounded-full"></Image>
        </div>  
        <!-- Name -->
        <div class="text-[24px] font-bold">{name}</div>
    </div>

    <!-- Center Line -->
    <div class="mr-3 ml-3 w-0.5 bg-white"></div>

    <!-- Right Area -->
    <div class="flex-col">
        <!-- Description -->
        <div class="text-[20px] p-2 flex items-center">
            <div class="max-h-full w-full">
                <slot />
            </div>
        </div>
    </div>
</div>