---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import type { Media } from '@components/types/Media'

interface Props {
    name: string;
    avatar: string;

    media?: Media[];
}

const { name, avatar, media } = Astro.props;
---   
<div class="p-5 flex w-full rounded-xl bg-(--color-surface) text-white mb-5">
    <!-- Left Area -->
    <div class="w-fit min-w-1/5 flex-col items-center place-items-center p-5">
        <!-- Outline Circle -->
        <div class="size-15 overflow-hidden p-1 rounded-full border-2 border-white mb-3">
            <!-- Avatar -->
            <Image src={ avatar } alt="An image of this person" width={64} height={64} class="size-full overflow-hidden bg-center bg-cover rounded-full"></Image>
        </div>
        
        <div class="text-xl font-bold">{name}</div>
        <!-- Icon -->
        <div class="mt-3 mb-3 flex justify-center gap-3">
            {media && 
                media.map((m) => (
                    <a href={m.link}>
                        <Icon name={m.iconName} class="size-5 filter group-hover:drop-shadow-[0_0_2px_rgba(0,0,0,1)] group-hover:text-black transition"/>    
                    </a>
                ))
            }
        </div>
            
    </div>

    <!-- Center Line -->
    <div class="mr-3 ml-3 w-1 bg-(--color-muted)"></div>

    <!-- Right Area -->
    <div class="flex flex-col justify-center">
        <!-- Description -->
        <div class="text-base p-2 flex items-center">
            <div class="max-h-full w-full text-(--color-muted)">
                <slot />
            </div>
        </div>
    </div>
</div>